<!-- select -->
<label class="item item-custom item-input item-select form2-select">
    <div class="input-label">
        {{ field.label | translate:'form2' }} <span ng-if="field.is_required">*</span>
    </div>
    <select ng-model="field.value">
        <option ng-if="!field.is_required"
                value="">{{ ::'Pick a value' | translate:'form2' }}</option>
        <option ng-repeat="option in field.options track by $index"
                value="{{ option.value }}">{{ option.label }}</option>
    </select>
</label>