<ion-content class="classifieds2-list has-subheader"
             ng-controller="Classifieds2ListController">

    <div class="search-header">
        <div class="cr-list-search-bar">
            <p ng-click="filterModal()"
               ng-bind-html="filtersToString() | trusted_html"></p>
            <i ng-show="filtersToString().length > 0"
               ng-click="clearFilters(); validateFilters()"
               class="icon ion-sb-clear-brush clear-fullsearch"></i>
        </div>
    </div>

    <classifieds2-advert-list ng-if="!isLoading"
                              options="options"
                              adverts="collection"></classifieds2-advert-list>

    <div ng-if="!isLoading">
        <div ng-if="collection.length == 0"
             class="no-result-search list card">
            <ion-item class="item-custom text-center">
                {{ ::'There is no result for your search' | translate:'classifieds2' }}
            </ion-item>
            <ion-item ng-if="hasCriterias()"
                      class="item-custom text-center">
                {{ ::'Would you like to save the current search & be notified when we new matching ads are published?' | translate:'classifieds2' }}
            </ion-item>
        </div>
        <div ng-if="hasCriterias()"
             class="list padding create-alert-button">
            <button class="button button-block button-assertive button-assertive-custom"
                    ng-click="saveAlert()">
                {{ ::'Create an alert!' | translate:'classifieds2' }}
            </button>
        </div>
    </div>

    <div class="cls-spacer"></div>
</ion-content>

