<!-- Custom fields (defaults) -->
<div ng-if="!cardDesign"
     class="list">
    <ng-include ng-repeat="field in fields track by $index"
                src="'./features/form_v2/assets/templates/l1/form/fields/' + field.type + '.html'"></ng-include>
</div>

<div ng-if="cardDesign">
    <div class="list card"
         ng-repeat="_fields in sections track by $index">
        <div ng-repeat="field in _fields track by field.field_id"
             ng-include="'./features/form_v2/assets/templates/l1/form/fields/' + field.type + '.html'">
        </div>
        <ng-include src="'./features/form_v2/assets/templates/l1/form/fields/' + field.type + '.html'"></ng-include>
    </div>
</div>
