/** RSS SCSS File */
.rss-list {
  .design-cover {
    .rss-title {
      margin: 0 15px 0 0;
      font-size: 16px;
      font-weight: bold;
      white-space: normal;
    }

    .rss-subtitle {
      white-space: normal;
      margin-top: 5px;
      font-size: 12px;
    }

    .rss-date {
      font-size: 13px;
      text-align: right;
    }
  }
}

/** Layout 1 */
.rss-group-l1 {
  .card {
    margin: 10px;
  }
  .item {
    .rss-title {
      font-size: 16px;
      font-weight: bold;
      margin-right: 15px;
      /**white-space: normal;*/
    }

    .rss-subtitle {
      /**white-space: normal;*/
    }
    .rss-date {
      font-size: 13px;
      text-align: right;
    }
    .rss-item-thumbnail {
      background-size: cover;
      background-position: center center;
    }
  }
}

.rss-list-l1 {
  .card {
    margin: 10px;
  }
  .item {
    .rss-title {
      font-size: 16px;
      font-weight: bold;
      margin-right: 15px;
      /**white-space: normal;*/
    }
    .rss-subtitle {
      /**white-space: normal;*/
      margin-top: 5px;
      font-size: 12px;
    }
    .rss-date {
      font-size: 13px;
      text-align: right;
    }

    .rss-item-thumbnail {
      background-size: cover;
      background-position: center center;
    }
  }
}

/** All three views are the same for now */
.rss-view-l1,
.rss-view-l2,
.rss-view-l3 {
  .item-description {
    * {
      max-width: 100% !important;
    }

    img {
      width: 100%;
    }
  }
}

/** Layout 2 */
.rss-group-l2 {
  .design-card {
    margin-top: 10px;
  }
}

.rss-group-l2,
.rss-list-l2 {
  .design-card {
    &.no-cover {
      margin-top: 10px;
    }

    .row+.row {
      margin-top: -12px;
    }

    .list.row {
      .col.col-50 {
        margin: 0 5px;
        padding: 0;
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);

        .item.item-body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;

          .item-content {
            padding: 10px;
          }

          .rss-title {
            font-size: 14px;
            font-weight: bold;
            margin: 0 15px 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .rss-subtitle {
            white-space: normal;
            margin-top: 5px;
            font-size: 12px;
          }

          .rss-date {
            font-size: 13px;
            text-align: right;
          }

          .rss-item-thumbnail {
            width: calc(50vw - 15px);
            height: 33vw;
            background-size: cover;
            background-position: center center;
          }


        }
      }
    }
  }

  .design-list {
    .list.row {
      padding: 0;
      margin: 0;

      .col:nth-child(1) {
        .item {
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
        }
      }

      .col:nth-child(2) {
        .item {
          border-right: 0;
          border-bottom: 0;
        }
      }

      .col.col-50 {
        margin: 0;
        padding: 0;

        .item.item-body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;

          .item-content {
            padding: 10px;
          }

          .rss-item-thumbnail {
            width: 50vw;
            height: 33vw;
            background-size: cover;
            background-position: center center;
          }
        }
      }
    }
  }
}

/** Layout 3 */
.rss-group-l3 {
  .design-card {
    margin-top: 10px;
  }
}

.rss-group-l3,
.rss-list-l3 {
  .design-card {
    &.no-cover {
      margin-top: 10px;
    }

    .list.row {
      margin-bottom: 10px;

      .col {
        margin: 0 5px;
        padding: 0;

        .item.item-body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;

          .item-content {
            padding: 10px;
          }

          .rss-title {
            font-size: 14px;
            font-weight: bold;
            margin: 0 15px 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .rss-subtitle {
            white-space: normal;
            margin-top: 5px;
            font-size: 12px;
          }

          .rss-date {
            font-size: 13px;
            text-align: right;
          }

          .rss-item-thumbnail {
            width: 100vw;
            height: 30vw;

            background-size: cover;
            background-position: center center;
          }
        }
      }

      .col.col-50 {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);

        .rss-item-thumbnail {
          width: calc(50vw - 15px) !important;
          height: 33vw !important;
        }
      }
    }
  }

  .design-list {
    .list.row {
      padding: 0;
      margin: 0;

      .col:nth-child(1) {
        .item {
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
        }
      }

      .col:nth-child(2) {
        .item {
          border-right: 0;
          border-bottom: 0;
        }
      }

      .col {
        margin: 0;
        padding: 0;

        .item.item-body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;

          .item-content {
            padding: 10px;
          }

          .rss-title {
            font-size: 14px;
            font-weight: bold;
            margin: 0 15px 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .rss-subtitle {
            white-space: normal;
            margin-top: 5px;
            font-size: 12px;
          }

          .rss-date {
            font-size: 13px;
            text-align: right;
          }

          .rss-item-thumbnail {
            width: 100vw;
            height: 30vw;
            background-size: cover;
            background-position: center center;
          }
        }
      }

      .col-50 {
        .rss-item-thumbnail {
          width: 50vw !important;
          height: 33vw !important;
        }
      }
    }
  }
}