# IDE/OS
*.DS_Store*
*.idea*

# Siberian ignores.
languages/*
!languages/default
.htaccess
app/configs/app.ini
images/customer/
images/site/
images/application/homepage_image/
images/application/*
!images/application/placeholder
!images/application/tabbar
system.php
var/apps/android
var/log/*
var/**/app.css
var/**/app.js
