node_modules/
.DS_Store
npm-debug.log
ionic.project
.idea
/tmp
/nbproject
*.sublime-*
build/
__*
developer.json
cookie.txt
nginx.default
apache.default
release-*
.trash
.sass-cache

# Editor
*.un~
*.swp
*.swo
*.swn
*.projectile
*.ac-php-conf.json

# Ignore /local
siberian/app/local/design/*
siberian/app/local/modules/*

# Siberian
siberian/app/configs/secrets.json
siberian/lib/Siberian/Version.php
siberian/lib/WooCommerce
siberian/config.php
siberian/manifest.json
siberian/var/apps/*.tgz
siberian/var/apps/ionic/*.tgz

siberian/images/application/*
siberian/images/admin/white_label/*
!siberian/images/application/placeholder
!siberian/images/application/tabbar
siberian/images/previewer
siberian/errors/*no-store.html

# Dist js/css
siberian/var/apps/browser/dist/app.bundle-min.css
siberian/var/apps/browser/dist/app.bundle-min.js
siberian/var/apps/overview/dist/app.bundle-min.css
siberian/var/apps/overview/dist/app.bundle-min.js
siberian/var/apps/ionic/android/assets/www/dist/app.bundle-min.css
siberian/var/apps/ionic/ios-noads/www/dist/app.bundle-min.css
siberian/var/apps/ionic/ios/www/dist/app.bundle-min.css

siberian/system.php
siberian/var/apps/browser/app.css
siberian/var/apps/browser/app.js
siberian/var/apps/browser/pwa-worker.js
siberian/var/apps/ionic/android/assets/www/app.css
siberian/var/apps/ionic/android/assets/www/app.js
siberian/var/apps/ionic/ios-noads/www/app.css
siberian/var/apps/ionic/ios-noads/www/app.js
siberian/var/apps/ionic/ios/www/app.css
siberian/var/apps/ionic/ios/www/app.js
siberian/var/apps/browser/chcp.json
siberian/var/apps/browser/chcp.manifest
siberian/var/apps/browser/prod.css
siberian/var/apps/browser/prod.js
siberian/var/apps/browser/index-prod.html
siberian/var/apps/ionic/android/assets/www/prod.css
siberian/var/apps/ionic/android/assets/www/prod.js
siberian/var/apps/ionic/android/assets/www/index-prod.html
siberian/var/apps/ionic/ios-noads/www/prod.css
siberian/var/apps/ionic/ios-noads/www/prod.js
siberian/var/apps/ionic/ios-noads/www/index-prod.html
siberian/var/apps/ionic/ios/www/prod.css
siberian/var/apps/ionic/ios/www/prod.js
siberian/var/apps/ionic/ios/www/index-prod.html
siberian/var/apps/ionic/ios-noads/www/chcp.json
siberian/var/apps/ionic/ios-noads/www/chcp.manifest
siberian/var/apps/ionic/ios/www/chcp.json
siberian/var/apps/ionic/ios/www/chcp.manifest
siberian/var/apps/ionic/previewer/ios/www/chcp.json
siberian/var/apps/ionic/previewer/ios/www/chcp.manifest
siberian/var/apps/ionic/android/assets/www/chcp.json
siberian/var/apps/ionic/android/assets/www/chcp.manifest
siberian/var/apps/ionic/previewer/android/assets/www/chcp.json
siberian/var/apps/ionic/previewer/android/assets/www/chcp.manifest
chcp.json
chcp.manifest

siberian/var/apps/ionic/ios-previewer
siberian/var/apps/ionic/android-previewer
siberian/var/apps/ionic/tools/android-sdk
siberian/var/apps/ionic/tools/gradle

!siberian/var/apps/ionic/**/node_modules

siberian/var/pid
siberian/var/apps/iphone/cert_*
siberian/var/apps/certificates/*
!siberian/var/apps/certificates/root_ca.pem
!siberian/var/apps/certificates/.htaccess

# Templates
siberian/images/templates/accessories
siberian/images/templates/b_b
siberian/images/templates/band
siberian/images/templates/beauty_center
siberian/images/templates/big_company
siberian/images/templates/club
siberian/images/templates/corporate
siberian/images/templates/fitness
siberian/images/templates/florist
siberian/images/templates/football_team
siberian/images/templates/grande_palace
siberian/images/templates/jewellery
siberian/images/templates/lawyer
siberian/images/templates/nyc
siberian/images/templates/paris
siberian/images/templates/publisher
siberian/images/templates/real_estate_one
siberian/images/templates/rush_cafe
siberian/images/templates/surgery
siberian/images/templates/development
siberian/app/sae/modules/*/data/dummy_development.xml

# Packages
packages/*

# Backups
siberian/backup*

# Modules
siberian/languages/default/inbox.csv
siberian/images/library/inbox/

# Commercial Editions
siberian/app/mae
siberian/app/pe