.module-fanwall {

  /** Card style for header bar & content */
  ion-header-bar.option-card {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    overflow: hidden;

    button {
      border: 0;
    }
  }

  .option-card {
    ion-content {
      padding-top: 10px;

      &.fanwall-map {
        padding-top: 20px;

        #google-maps {
          border-radius: 2px;
          overflow: hidden;
        }
      }
    }
  }

  /** Popover, scoped outside for global usage, to be moved in general scss. */
  &.popover {
    margin-top: 10px !important;
    transform: translate(-14px, -14px);
    border-radius: 2px !important;

    &.popover-custom {
      max-height: 260px;
      border-radius: 2px !important;

      .item-custom {
        padding: 10px 10px 5px 10px!important;
        border: 0 !important;
      }

      .popover-icon-left {
        width: 20px;
        text-align: center;
        display: inline-block;
        transform: translate(0px, -5px);
      }

      .popover-action-title {
        font-size: 10px;
        font-weight: bold;
        transform: translate(6px, -1px);
        display: inline-block;
        letter-spacing: 1px;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
        overflow: hidden;
      }

      .popover-content-custom {
        border-radius: 2px !important;
        margin: 0 !important;
        background: none;
        padding-top: 5px;
      }

      .popover-arrow {
        display: none !important;
      }
    }
  }

  /** Profile */
  .fanwall-profile {
    .customer-image {
      margin-top: 15px;
      margin-bottom: 15px;

      img {
        margin: 0 auto;
        width: 10em;
        border-radius: 5em;
        border: 0.4em solid white;
        display: block;
      }
    }

    .customer-fullname {
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 15px;
    }

    .customer-actions {
      text-align: center;

      button {
        font-size: 12px;
        letter-spacing: 0.7px;
        padding-right: 10px;

        i {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .section-title {
      h2 {
        font-size: 16px !important;
        font-weight: bold !important;
        padding-bottom: 7px;
      }
    }
  }

  .user-blocked {
    &.item-avatar {
      min-height: 52px !important;
    }
  }

  /** Item history */
  .item-history {
    padding: 10px !important;

    .history-date {
      font-size: 11px;
      line-height: 11px;
    }

    .history-text {
      margin-top: 10px;
      white-space: initial;
    }

    .history-image {
      display: block;
      float: left;
      width: calc((100vw / 5) - 6px);
      height: calc(100vw / 7);
      padding: 4px;

      a {
        width: 100%;
        height: 100%;
        display: inline-block;
        border: 1px solid lightgrey;
        border-radius: 2px;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  .blocked-item {
    opacity: 0.5;
  }

  .no-post {
    white-space: normal !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .fanwall-map {
    .map-canvas {
      width: 100%;
      height: 100%;
    }

    .info-window {
      .item {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: -1px 0 !important;
        border-top: 0;
        border-bottom: 0;
      }

      .info-window-icon {
        padding: 10px;
        border-bottom: 0;

        span {
          font-size: .85rem;
          font-weight: bold;
          width: 85%;
          display: inline-block;

          &.info-window-title {
            padding-left: 8px;
            padding-bottom: 6px;
          }

          &.info-window-more,
          &.info-window-distance {
            font-size: .7rem;
            width: auto;
          }

          &.info-window-distance {
            padding-left: 8px;
          }
        }

        i.info-close {
          position: absolute;
          right: 10px;
          top: 8px;
        }
      }
    }
  }

  &.fanwall-list-l1 {
    .bar-subheader {
      padding: 0 !important;

      .button-bar {
        > .button {

          &.button-positive-custom {
            &.activated {
              background-color: $button-positive-custom-bg !important;
              border-color: $button-positive-custom-border !important;
            }
          }

          img {
            filter: grayscale(100%);

            &.fw-icon-header {
              height: 24px;
              margin-top: 8px;
            }
          }

          i {
            filter: grayscale(100%);

            &.icon {
              &:before {
                font-size: 24px !important;
              }
            }
          }

          &:first-child {
            border-radius: 0;
          }

          &:last-child {
            border-radius: 0;
          }

          &:active,
          &.fw-icon-selected {
            img,
            i {
              filter: grayscale(0);
            }
          }
        }
      }
    }

    .item {
      padding-bottom: 0;
      margin-top: 12px;
      margin-bottom: 0;

      .post-body {
        padding-top: 10px;
        padding-bottom: 10px;

        h2 {
          padding: 0 0 10px 0;
          font-weight: bold;
        }

        p {
          &.subtitle {
            padding: 8px 0;
          }

          overflow: initial;
          text-overflow: initial;
          white-space: initial;
        }
      }

      .post-author {
        &.item-avatar {
          padding-left: 50px;
          min-height: 50px;
        }

        h2 {
          font-weight: bold;
          line-height: 16px;
          height: 16px;
          margin-top: 2px !important;

          i {
            &.icon {
              &.icon-pin {
                transform: rotate(20deg);
              }

              margin: 0 0 0 12px;
              font-size: 20px;
            }
          }
        }

        .post-date {
          font-size: 11px;
        }
      }

      .post-images {
        .row.fanwall-row {
          margin: 0;
          padding: 0;
          height: 25vh;
        }

        .fanwall-image-bg-1 {

        }
        .fanwall-image-bg-2 {
          border-left: 2px solid $list-item-custom-bg;
          &.fanwall-bg-card {
            border-left: 2px solid $card-item-custom-bg;
          }
        }
        .fanwall-image-bg-3 {
          border-top: 2px solid $list-item-custom-bg;
          &.fanwall-bg-card {
            border-top: 2px solid $card-item-custom-bg;
          }
        }
      }

      .post-image {
        margin: 0 -16px 0 -16px;

        &.fanwall-bg-2 {
          margin: 0 -16px 0 0;
        }

        &.fanwall-bg-3 {
          height: 20vh;
        }

        a {
          &.fanwall-image-bg {
            display: inline-block;
            width: 100%;
            background-position: center center;
            background-size: cover;
            height: 30vh;

            &.fanwall-image-bg-1 {
              height: 25vh;
            }
            &.fanwall-image-bg-2 {
              height: 25vh;
            }
            &.fanwall-image-bg-3 {
              height: 20vh;
            }
          }
        }

        img {
          display: block;
        }
      }

      .post-likes {
        padding-top: 4px;
        padding-bottom: 4px;

        span {
          font-size: 14px;
        }
      }

      .post-actions {
        padding-top: 7px;
        padding-bottom: 6px;
        font-weight: bold;
      }

      .post-likes ~ .post-actions {
        border-top: 1px solid transparentize($list-item-custom-text, 0.8);
      }

      .post-body ~ .post-actions {
        border-top: 1px solid transparentize($list-item-custom-text, 0.8);
      }

      &.card {
        .post-likes ~ .post-actions {
          border-top: 1px solid transparentize($card-item-custom-text, 0.8);
        }

        .post-body ~ .post-actions {
          border-top: 1px solid transparentize($card-item-custom-text, 0.8);
        }

        .post-author {
          padding-top: 16px;
          margin-bottom: 10px;
        }
      }
    }

    // Remove margin top for card
    .card {
      .item {
        margin-top: 0;
      }
    }
  }

  &.fanwall-comment-l1 {
    .item-comment {
      .comment-date ~ .comment-image {
        margin-top: 10px;
      }

      .comment-author {
        &.item-avatar {
          padding-top: 5px;
          padding-left: 50px;
          min-height: 50px;
        }

        i {
          &.icon {
            font-size: 16px;
          }
        }

        h2 {
          font-weight: bold;
          font-size: 13px;
          line-height: 15px;
        }

        p {
          &.comment-date {
            font-size: 11px;
            line-height: 11px;
          }

          &.comment-text {
            margin-top: 10px;
            white-space: initial;

            * {
              white-space: initial;
            }
          }
        }
      }

      .comment-image {
        img {
          max-width: 100%;
          max-height: 140px;
          padding: 3px;
          border: 1px solid lighten($list-item-custom-text, 50%);
          border-radius: 6px;
        }
      }

      &.card {
        margin-bottom: 0;
        margin-top: 12px;

        .comment-image {
          img {
            border: 1px solid lighten($card-item-custom-text, 50%);
          }
        }

        .comment-author {
          &.item-avatar {
            padding-top: 15px;
            padding-left: 50px;
            padding-bottom: 10px;
            min-height: 50px;
          }
        }
      }
    }

    .comment-footer {
      .item-input-inset {
        width: 100%;
      }

      .picture-badge {
        font-size: 10px;
        padding: 0 6px 0 5px;
        margin-left: -17px;
      }

      textarea {
        resize: none;
        margin: 0;
        height: 32px;
        width: 100%;
        padding: 8px 33px 7px 16px;
        border-radius: 50px;
      }

      .clear-comment {
        font-size: 26px;
        position: absolute;
        right: 54px;
        opacity: 0.6;
      }
    }
  }

  fanwall-comment-item {
    .card {
      margin: 10px;
    }
  }

  &.fanwall-new-l1 {
    .post-button {
      position: fixed;
      bottom: 0;
      z-index: 100;
      margin: 0 !important;
    }

    .post-author {
      &.item-avatar {
        padding-left: 72px;
        min-height: 50px;
      }

      h2 {
        font-weight: bold;
        line-height: 15px;

        i {
          &.icon {
            &.icon-pin {
              transform: rotate(30deg);
            }

            margin: 0 0 0 12px;
          }
        }
      }

      .post-location {
        font-size: 11px;
      }
    }

    .new-post-items {
      .item {
        margin-top: 12px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;

        .new-post-author {
          margin-top: 4px;
        }

        label {
          width: 100%;
        }

        textarea {
          resize: none;
        }

        &.item-avatar {
          padding-left: 72px;
          min-height: 72px;
        }

        &.card {
          margin-top: 0;
          margin-bottom: 6px;

          &:first-of-type {
            margin-top: 12px !important;
          }
        }
      }
    }

    .new-post-items {
      .card {
        .item {
          margin-top: 0;
        }
      }
    }

    img {
      &.fanwall-pictures {
        max-height: 15vh;
        width: auto;
        max-width: 90%;
        margin: 6px auto;
      }
    }

    .remove-image-list,
    .remove-image-card {
      position: absolute;
      right: 6px;
      top: 6px;

      i.icon {
        font-size: 26px;
      }
    }
  }

  .new-post-items,
  fanwall-post-item {
    .card {
      margin: 10px;
    }
  }

  .more-circle {
    position: relative;
    width: 48px;
    height: 48px;
    background: rgba(255,255,255,.9);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    pointer-events: none;
    left: calc(75% - 24px);
    top: calc(-50% - 24px);
    box-shadow: 0 0 2px black;

    i.icon {
      font-size: 14px;
    }
  }

  .fanwall-gallery {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    .gallery-item {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      img {
        width: 100%;
      }

      &:nth-child(3n+1) {
        width: 32%;
        margin-top: 2%;
      }

      &:nth-child(3n+2) {
        width: 32%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
      }

      &:nth-child(3n+3) {
        width: 32%;
        margin-top: 2%;
      }
    }
  }

  /** woo commerce image slider */
  .fanwall-post-image-container {
    margin: 0 -12px;
  }

  .fanwall-slider-container {
    height: 30vh;
    overflow: hidden;
  }

  .fanwall-slider-container-product {
    height: 50vh;
    margin: 0;
    overflow: hidden;
  }

  .fanwall-directive-slider,
  [fanwall-slider] {
    height: 100%;
  }

  &.fanwall-slider,
  &.fanwall-slider-modal {
    height: 100%;
    padding: 0 !important;

    ul[rn-carousel] {
      height: 100%;

      li {
        > div {
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    div[rn-carousel-indicators] {
      text-align: center;
      background-color: transparent;
      position: relative;
      left: 0;
      right: 0;
      bottom: 20px;

      div {
        &.rn-carousel-indicator {
          span {
            font-size: 16px;
            margin: 0 4px;
            color: #ffffff;

            &.active {
              color: $util-assertive-custom-text;
            }
          }
        }
      }
    }

    &.fullscreen {
      .bar-header.bar-dark {
        background-color: black;
      }

      .scroll {
        background-color: black;
        height: 100%;
        width: 100%;

        ul {
          li {
            .scroll-view {
              background-color: black;
              height: 100%;
              width: 100%;
            }

            .scroll {
              .image {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  /** Maps section */
  .module-fanwall {
    .fanwall-map {
      .info-window {
        width: 100vw;
        position: absolute;
        bottom: 0;
        padding: 0 2vw;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  /** Maps section */
  .module-fanwall {
    .fanwall-map {
      .info-window {
        width: 50vw;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 2vw;
      }
    }
  }
}

#baguetteBox-overlay {
  user-select: all;
  pointer-events: all;
}

.fanwall-location-action {
  &:before {
    font-size: 26px !important;
  }
}

