<ion-view sb-page-background cache-view="false">
    <ion-nav-title>{{ page_title }}</ion-nav-title>
    <ion-content scroll="false" class="maps">

        <div class="loader" ng-show="is_loading">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <div id="google-maps"
             class="map-canvas"
             sb-maps
             map="map"
             config="map_config"
             ng-if="map_config"
             data-tap-disabled="true"></div>

    </ion-content>
</ion-view>