.payment-stripe {

}

/**
 * Stripe SCA, 3DS 2
 */
#challengeFrame {
  pointer-events: all !important;
  user-select: all !important;
}

[name^="__privateStripeFrame"] {
  user-select: all !important;
  pointer-events: all !important;
}

.payment-stripe-cards {
  .card-item {
    padding: 0;
    margin: -1px;
  }
  .card-actions {
    button {
      margin: 0;
    }
  }
}
