/** DEFAULT **/
.toggle .toggle-radio { background-image: url("/app/design/desktop/siberian/images/flat/toggle/icon-on.png"); }
.toggle.toggle-off .toggle-radio { background-image: url("/app/design/desktop/siberian/images/flat/toggle/icon-off.png"); }

.checkbox .icon, .general .checkbox .icon-to-fade { background-image: url("/app/sae/design/desktop/siberian/images/flat/checkbox.png"); }
.radio .icon, .general .radio .icon-to-fade { background-image: url("/app/design/desktop/siberian/images/flat/checkbox.png"); }
/** DEFAULT **/

/* GENERAL */
/** GENERAL **/

/* HEADER */
/** HEADER **/

/* APP NAME */
/** APP NAME **/

/* INNER CONTENT */
/** INNER CONTENT **/

/* EDITOR MENU */
/** EDITOR MENU **/

/* AREA */
/** AREA **/

/* DEFAULT BUTTON */
/** DEFAULT BUTTON **/

/* DELETE */
/** DELETE **/

/* SELECT */
/** SELECT **/