<form method="post"
      name="loginForm"
      ng-submit="_pcustomer_login(customer)"
      class="slide-down">

    <div class="list"
         ng-class="{'card': card_design}">

        <div style="margin-bottom: 20px;"></div>

        <div class="item item-text-wrap item-icon-left item-custom"
             ng-click="_pcustomer_login_fb()"
             ng-if="!is_logged_in && myAccount.settings.enable_facebook_login"
             ng-show="_facebook_enabled">
            <i class="icon ion-social-facebook-outline"></i>
            {{ "Log-in with Facebook" | translate }}
        </div>

        <div class="item item-divider item-divider-custom text-center"
             ng-if="!is_logged_in && myAccount.settings.enable_facebook_login"
             ng-show="_facebook_enabled">
            <p>{{ "Or with your account" | translate }}</p>
        </div>

        <label class="item item-input item-custom">
            <i class="icon ion-ios-person"></i>
            <input type="email"
                   placeholder="{{ 'Email' | translate }}"
                   ng-model="customer.email" />
        </label>

        <label class="item item-input item-custom">
            <i class="icon ion-locked"></i>
            <input type="password"
                   placeholder="{{ 'Password' | translate }}"
                   ng-model="customer.password" />
        </label>
    </div>

    <div ng-class="{'padding': card_design}">
        <button type="submit"
                class="button button-positive button-positive-custom"
                ng-class="{'button-block': card_design, 'button-full': !card_design}"
                ng-show="!is_loading">{{ "Log-in" | translate }}</button>

    </div>

    <div class="list"
         ng-class="{'card': card_design}">

        <div class="item item-custom item-icon-left"
             ng-click="displayForgotPasswordForm()">
            <i class="icon ion-ios-help-empty"></i>
            {{ "Forgot your password?" | translate }}
        </div>
        <div class="item item-custom item-icon-left"
             ng-if="myAccount.settings.enable_registration"
             ng-click="displayAccountForm()">
            <i class="icon ion-ios-plus-empty"></i>
            {{ "Create an account" | translate }}
        </div>

        <div class="item item-custom item-icon-left"
             ng-click="displayPrivacyPolicy('login')">
            <i class="icon ion-navicon"></i>
            {{ "Privacy Policy" | translate }}
        </div>
    </div>

</form>