<ion-view sb-page-background
          class="unsupported-feature">
    <ion-nav-title>{{ ::'Unsupported feature' | translate:'application' }}</ion-nav-title>

    <ion-content>
        <div class="list">
            <div class="card">
                <div class="item item-custom item-text-wrap text-center">
                    {{ ::'This feature is not supported by your device and/or browser.' | translate:'application' }}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

