<div class="list" ng-class="{'padding': card_design}" style="margin-bottom: 0;margin-top: 0;">
    <div class="fanwall header">
        <div class="button-bar">
            <button class="button button-custom button-positive button-positive-custom" ng-click="goToMap()">
                <i class="icon ion-map"></i>
                {{ ::'Map' | translate }}
            </button>
            <button class="button button-custom button-positive button-positive-custom" ng-click="goToPhotos()">
                <i class="icon ion-image"></i>
                {{ ::'Photos' | translate }}
            </button>
            <button class="button button-custom button-positive button-positive-custom" ng-click="goToPost()">
                <i class="icon ion-compose"></i>
                {{ ::'New post' | translate }}
            </button>
        </div>
    </div>
</div>