/* LIST l18 */
.layout.layout_siberian_18 .list.row {
    margin-bottom: 5px;
    padding: 0
}

.layout.layout_siberian_18 .list.row .item {
    height: 250px
}

.layout.layout_siberian_18 .list.row .item-image {
    height: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.layout.layout_siberian_18 .list.row .item-content {
    height: 40%
}

/* LAYOUT 18 */
.layout.layout_siberian_18 .item h2 {
    margin-top: 10px;
}

.layout.layout_siberian_18 .item {
    margin: 0;
    border-width: 0;
}

.layout.layout_siberian_18 .no-border {
    border: none !important
}

.layout.layout_siberian_18 .badge-custom {
    top: 20px;
    right: 16px;
    padding: 6px 8px;
    font-size: 16px;
}

.layout.layout_siberian_18 {
    position: absolute;
    top: 10vh !important;
    left: 12vw !important;
    right: 12vw !important;
    bottom: 10vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.layout.layout_siberian_18 ion-scroll {
    height: 80vh !important;
}

/* options */
.layout.layout_siberian_18 .border-custom.border-top {
    border-top-width: 1px;
}

.layout.layout_siberian_18 .border-custom.border-right {
    border-right-width: 1px;
}

.layout.layout_siberian_18 .border-custom.border-bottom {
    border-bottom-width: 1px;
}

.layout.layout_siberian_18 .border-custom.border-left {
    border-left-width: 1px;
}

.layout.layout_siberian_18 .label-right {
    text-align: right;
}

.layout.layout_siberian_18 .label-left {
    text-align: left;
}

.layout.layout_siberian_18 .title-lowcase {
    text-transform: inherit;
}

.layout.layout_siberian_18 .title-uppercase {
    text-transform: uppercase;
}

.layout.l18 {
    position: absolute;
    top: var(--safe-area-inset-top) !important;
    left: var(--safe-area-inset-left) !important;
    right: var(--safe-area-inset-right) !important;
    bottom: var(--safe-area-inset-bottom) !important;
    z-index: 100;
}