#design .change_layout_handler img {
    max-height: 210px;
}

li.folder-sortable {
    padding: 0;
}

ul.nested-folders {
    font-size: 15px;
}

ul.nested-folders li {
    background-color: white;
}

span.folder-hover {
    display: inline-block;
    width: 100%;
    padding: 8px;
}

span.folder-hover:hover,
li.folder-sortable.active > span.folder-hover {
    background-color: #0099C7;
    border-radius: 2px;
    color: white;
}

.folder-delete,
.folder-edit {
    cursor: pointer;
    margin-top: 2px;
}

.folder-delete {
    margin-right: 8px;
}

.folder-delete:hover {
    color: rgb(255, 58, 46);
}

li.folder-sortable.active > span > .folder-delete {
    display: inline-block;
}

div.folder-title-add {
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 16px;
}

div.folder-container {
    padding-top: 16px;
}

.placeholder {
    margin-top: 4px;
    border: 2px dashed #0099C7;
    border-radius: 2px;
    height: 32px;
}

ul.nested-folders, ul.nested-folders ul {
    list-style-type: none;
    padding: 0;
}

span.folder-feature-count {
    margin-left: 6px;
}

i.folder-sortable-handle {
    margin: 3px 12px 0 4px;
    float: left;
}

.nested-sortable ul {
    padding-left: 32px !important;
}

span.folder-title {
    max-width: calc(100% - 110px);
    display: inline-block;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    float: left;
    margin-top: 0;
}

li.folder-sortable {
    margin-top: 4px;
}

form .folder-form-title {
    margin: 0 15px;
    border-bottom: 1px solid rgb(119, 119, 119);
    padding-bottom: 10px;
}

ul.nested-folders.deep {
    font-size: 12px;
}

ul.nested-folders.deep li.folder-sortable {
    margin-top: 2px;
}

ul.nested-folders.deep span.folder-hover {
    padding: 4px 8px 2px;
}

ul.nested-folders.deep i.folder-sortable-handle {
    margin: 3px 6px 0 0;
}

ul.nested-folders.deep .nested-sortable ul {
    padding-left: 18px !important;
}

ul.nested-folders.deep .placeholder {
    margin-top: 2px;
    border: 2px dashed #0099C7;
    border-radius: 2px;
    height: 26px;
}

.folder-nested-error {
    border-color: red !important;
}

#folder_add_page_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#folder_add_page_list .folder_add_page {
    text-align: center;
    margin-bottom: 10px;
    list-style: none;
    padding-right: 15px;
    width: 98px;
    display: inline-block;
    padding-left: 0;
}


#folder_add_page_list li span {
    display: block;
    font-size: 0.73em;
    text-transform: uppercase;
    margin-top: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#folder_add_page_list p.feature_name {
    font-size: 9px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.sweet-alert p {
    padding: 10px 20px !important;
}

ul#folder_add_page_list li {
    filter: grayscale(100%);
}

ul#folder_add_page_list li:hover {
    filter: grayscale(0%);
}