/**
Palette base to create the design system
Primary Blue: #007BFF
Accent Orange: #FF8C00
Background White: #FFFFFF
Light Gray: #F8F9FA
Dark Gray: #343A40
Success Green: #28A745
Error Red: #DC3545
Warning Yellow: #FFC107
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans Display", sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #343A40;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}