/**
Palette base to create the design system
Primary Blue: #007BFF
Accent Orange: #FF8C00
Background White: #FFFFFF
Light Gray: #F8F9FA
Dark Gray: #343A40
Success Green: #28A745
Error Red: #DC3545
Warning Yellow: #FFC107
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans Display", sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #343A40;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.btn-primary:hover {
    background-color: #005BBB;
    border-color: #005BBB;
}

.btn-secondary {
    background-color: #FF8C00;
    border-color: #FF8C00;
}

.btn-secondary:hover {
    background-color: #CC6B00;
    border-color: #CC6B00;
}

.btn-success {
    background-color: #28A745;
    border-color: #28A745;
}

.btn-success:hover {
    background-color: #1E7E34;
    border-color: #1E7E34;
}

.btn-danger {
    background-color: #DC3545;
    border-color: #DC3545;
}

.btn-danger:hover {
    background-color: #A62A2A;
    border-color: #A62A2A;
}

.btn-warning {
    background-color: #FFC107;
    border-color: #FFC107;
}

.btn-warning:hover {
    background-color: #D39E00;
    border-color: #D39E00;
}

.alert-success {
    background-color: #28A745;
    border-color: #28A745;
    color: #FFFFFF;
}

.alert-danger {
    background-color: #DC3545;
    border-color: #DC3545;
    color: #FFFFFF;
}

.alert-warning {
    background-color: #FFC107;
    border-color: #FFC107;
    color: #FFFFFF;
}

/**
width system
 */

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

/**
height system
 */

.h-100 {
    height: 100%;
}

.h-80 {
    height: 80%;
}

.h-60 {
    height: 60%;
}

.h-40 {
    height: 40%;
}

.h-20 {
    height: 20%;
}

/**
margin system
 */

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

/**
padding system
 */
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

/**
border system
 */

.b-10 {
    border: 10px;
}

.b-20 {
    border: 20px;
}

.b-30 {
    border: 30px;
}

.b-40 {
    border: 40px;
}

.b-50 {
    border: 50px;
}

/**
font system
 */

.f-10 {
    font-size: 10px;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-24 {
    font-size: 24px;
}

.f-28 {
    font-size: 28px;
}

.f-32 {
    font-size: 32px;
}