version: '3.9'

networks:
  siberian-network-ip:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.42.0/24
          gateway: 172.16.42.1

services:
  db:
    restart: always
    image: mariadb:latest
    profiles:
      - db
    ports:
      - 3306:3306
    volumes:
      - ./mysql:/var/lib/mysql
    env_file:
      - .env
    networks:
      siberian-network-ip:
        ipv4_address: "${DB_IPV4}"

  php:
    restart: always
    image: siberian:php-fpm.7.3
    profiles:
      - php
    build:
      context: .
      dockerfile: ./php/Dockerfile
    volumes:
      - ../siberian:/var/www/html
      - ./php/docker.conf:/etc/php/7.3/fpm/pool.d/
      - ./php/php.ini:/usr/local/etc/php/php.ini
      - "../modules:${PROJECT_PATH}/modules"
    ports:
      - "${SOCKETIO_RANGE}:${SOCKETIO_RANGE}"
    env_file:
      - .env
    networks:
      siberian-network-ip:
        ipv4_address: "${PHP_IPV4}"

  nginx:
    restart: always
    image: nginx:latest
    profiles:
      - nginx
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    volumes:
      - ../siberian:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - "${SSL_CERT_PATH}:/etc/nginx/ssl-certificates"
      - "../modules:${PROJECT_PATH}/modules"
    env_file:
      - .env
    networks:
      siberian-network-ip:
        ipv4_address: "${NGINX_IPV4}"

  pma:
    image: phpmyadmin
    restart: always
    profiles:
      - pma
    ports:
      - 8181:80
    env_file:
      - .env
    networks:
      siberian-network-ip:
        ipv4_address: "${PHPMYADMIN_IPV4}"