<div class="fanwall-post-image-container">
    <div ng-if="photoMode() == 'thumbnail' && post.images.length > 0"
         class="thumbnail-mode">
        <!-- Single image -->
        <div class="post-image"
             ng-if="post.image.length > 0 && post.images.length == 1">
            <a data-fslightbox="{{ 'post-image-id-' + post.id }}"
               class="fanwall-image-bg"
               style="background-image: url('{{ imagePath() }}');"
               href="{{ imagePath() }}">
            </a>
        </div>

        <!-- 2+ Images, display only two or three max, other are visible in the lightbox -->
        <div class="post-images"
             ng-if="post.images.length > 1">
            <div class="row fanwall-row">
                <div class="col-50"
                     style="overflow: hidden;">
                    <div class="post-image fanwall-bg-1"
                         ng-class="{'fanwall-bg-card' : getCardDesign()}">
                        <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + 0 }}"
                           class="fanwall-image-bg fanwall-image-bg-1"
                           style="background-image: url('{{ imagePath(post.images[0]) }}');"
                           href="{{ imagePath(post.images[0]) }}">
                        </a>
                    </div>
                </div>
                <div class="col-50"
                     style="overflow: hidden;">
                    <div class="post-image fanwall-bg-2"
                         ng-class="{'fanwall-bg-card' : getCardDesign()}">
                        <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + 1 }}"
                           class="fanwall-image-bg fanwall-image-bg-2"
                           style="background-image: url('{{ imagePath(post.images[1]) }}');"
                           href="{{ imagePath(post.images[1]) }}">
                        </a>
                    </div>
                </div>
            </div>

            <div class="post-image fanwall-bg-3"
                 ng-class="{'fanwall-bg-card' : getCardDesign()}"
                 ng-if="post.images.length > 2">
                <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + ($index + 2) }}"
                   class="fanwall-image-bg fanwall-image-bg-3"
                   style="background-image: url('{{ imagePath(post.images[2]) }}');"
                   href="{{ imagePath(post.images[2]) }}">
                </a>
                <!-- Relative to the last element, only displayed here -->
                <div class="more-circle"
                     ng-if="post.images.length > 3">
                    <i class="icon ion-plus more-icon"></i>
                    <span class="more-number">{{ post.images.length - 3 }}</span>
                </div>
            </div>

            <div class="post-image fanwall-bg-n"
                 ng-class="{'fanwall-bg-card' : getCardDesign()}"
                 ng-if="post.images.length > 3"
                 ng-repeat="image in post.images.slice(3) track by $index">
                <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + ($index + 3) }}"
                   href="{{ imagePath(image) }}">
                </a>
            </div>
        </div>
    </div>

    <div ng-if="photoMode() == 'slider' && post.images.length > 0"
         class="slider-mode">
        <div class="fanwall-slider-container">
            <fanwall-slider images="post.images"></fanwall-slider>
        </div>
    </div>
</div>
