<ion-view sb-page-background
          class="module-fanwall fanwall-list fanwall-list-l1">

    <ion-nav-title>{{ pageTitle }}</ion-nav-title>

    <ion-nav-buttons side="secondary">

        <button ng-click="refresh()"
                class="button button-clear header-item">
            <i class="icon ion-sb-refresh"></i>
        </button>

    </ion-nav-buttons>

    <ion-header-bar ng-if="settingsIsLoaded"
                    class="bar-subheader">
        <div class="button-bar">
            <button class="button button-custom button-positive button-positive-custom"
                    ng-click="showTab('post')"
                    ng-class="classTab('post')"
                    ng-bind-html="displayIcon('post') | trusted_html">
            </button>
            <button class="button button-custom button-positive button-positive-custom"
                    ng-click="showTab('nearby')"
                    ng-class="classTab('nearby')"
                    ng-bind-html="displayIcon('nearby') | trusted_html">
                <i class="icon ion-sb-fw-nearby"></i>
            </button>
            <button class="button button-custom button-positive button-positive-custom"
                    ng-click="showTab('map')"
                    ng-class="classTab('map')"
                    ng-bind-html="displayIcon('map') | trusted_html">
                <i class="icon ion-sb-fw-map"></i>
            </button>
            <button class="button button-custom button-positive button-positive-custom"
                    ng-click="showTab('gallery')"
                    ng-class="classTab('gallery')"
                    ng-bind-html="displayIcon('gallery') | trusted_html">
                <i class="icon ion-sb-fw-gallery"></i>
            </button>
            <button class="button button-custom button-positive button-positive-custom icon-custom"
                    ng-click="createPost()"
                    ng-bind-html="displayIcon('new') | trusted_html">
                <i class="icon ion-sb-fw-post"></i>
            </button>
        </div>
    </ion-header-bar>

    <div ng-if="settingsIsLoaded">
        <div ng-if="currentTab == 'post'">
            <div ng-include="'./features/fanwall/assets/templates/l1/tabs/post.html'"></div>
        </div>

        <div ng-if="currentTab == 'map'">
            <div ng-include="'./features/fanwall/assets/templates/l1/tabs/map.html'"></div>
        </div>

        <div ng-if="currentTab == 'gallery'">
            <div ng-include="'./features/fanwall/assets/templates/l1/tabs/gallery.html'"></div>
        </div>
    </div>

</ion-view>