<ion-view sb-page-background
          class="module-fanwall fanwall-list fanwall-list-l1">

    <ion-nav-title>{{ pageTitle }}</ion-nav-title>

    <ion-nav-buttons side="secondary">

        <button ng-click="refresh()"
                class="button button-clear header-item">
            <i class="icon ion-sb-refresh"></i>
        </button>

        <div sb-tooltip
             style="margin: 0 10px;"
             collection="shortFilters"
             current-item="shortFilters[0]"
             show-tooltip="false"
             on-item-clicked="applyShortFilters(object)"
             button-label="''"
             button-icon="'icon ion-sb-more-round'"></div>

    </ion-nav-buttons>

    <ion-content>

        <div class="list"
             ng-class="{'card': cardDesign}">
            <div class="fanwall header">
                <div class="button-bar">
                    <button class="button button-custom button-positive button-positive-custom"
                            ng-click="showTab('posts')">
                        <i class="icon ion-sb-list1"></i>
                        {{ ::"Posts" | translate:"fanwall" }}
                    </button>
                    <button class="button button-custom button-positive button-positive-custom"
                            ng-click="showTab('map')">
                        <i class="icon ion-map"></i>
                        {{ ::"Map" | translate:"fanwall" }}
                    </button>
                    <button class="button button-custom button-positive button-positive-custom"
                            ng-click="showTab('photos')">
                        <i class="icon ion-image"></i>
                        {{ ::"Photos" | translate:"fanwall" }}
                    </button>
                </div>
            </div>
        </div>

        <div class="loader"
             ng-show="isLoading">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <div ng-show="currentTab == 'posts'">
            <div ng-include="'./features/fanwall/assets/templates/l1/tabs/posts.html'"></div>
        </div>

        <div ng-show="currentTab == 'map'">
            <div ng-include="'./features/fanwall/assets/templates/l1/tabs/map.html'"></div>
        </div>

        <div ng-show="currentTab == 'photos'">
            <div ng-include="'./features/fanwall/assets/templates/l1/tabs/photos.html'"></div>
        </div>

    </ion-content>
</ion-view>