# Production/User configuration file
/config.php
/config.user.php
/.htaccess
/isolate*
/xdebug-trace-tree
/1

# Let's Encrypt
.well-known

# Installer/Build files
manifest.json

# Backup files
backup*

# Version is built with scripts
lib/Siberian/Version.php

# Dist js/css
app.bundle-min.css
app.bundle-min.js
chcp.manifest
chcp.json
index-prod.html
images/previews/
var/apps/android/keystore
var/apps/android/pwd
