.module-fanwall {
  &.fanwall-list-l1 {
    .bar-subheader {
      padding: 0 !important;

      .button-bar {
        >.button {
          img {
            filter: grayscale(100%);
            &.fw-icon-header {
              height: 24px;
              margin-top: 8px;
            }
          }

          i {
            filter: grayscale(100%);
            &.icon {
              &:before {
                font-size: 24px !important;
              }
            }
          }

          &:first-child {
            border-radius: 0;
          }

          &:last-child {
            border-radius: 0;
          }

          &:active,
          &.fw-icon-selected {
            img,
            i {
              filter: grayscale(0);
            }
          }
        }
      }
    }

    .item {
      padding-bottom: 0;
      margin-top: 12px;

      .post-body {
        padding-top: 10px;
        padding-bottom: 10px;

        h2 {
          padding: 0 0 10px 0;
          font-weight: bold;
        }

        p {
          &.subtitle {
            padding: 8px 0;
          }

          overflow: initial;
          text-overflow: initial;
          white-space: initial;
        }
      }

      .post-author {
        &.item-avatar {
          padding-left: 50px;
          min-height: 50px;
        }

        h2 {
          font-weight: bold;

          i {
            &.icon {
              &.icon-pin {
                transform: rotate(30deg);
              }

              margin: 0 0 0 12px;
            }
          }
        }
      }

      .post-image {
        margin: 0 -16px 0 -16px;
        img {
          display: block;
        }
      }

      .post-likes {
        padding-top: 4px;
        padding-bottom: 4px;

        span {
          font-size: 14px;
        }
      }

      .post-actions {
        padding-top: 7px;
        padding-bottom: 6px;
        font-weight: bold;
      }

      .post-likes ~ .post-actions {
        border-top: 1px solid transparentize($list-item-custom-text, 0.8);
      }

      .post-body ~ .post-actions {
        border-top: 1px solid transparentize($list-item-custom-text, 0.8);
      }

      &.card {
        .post-likes ~ .post-actions {
          border-top: 1px solid transparentize($card-item-custom-text, 0.8);
        }

        .post-body ~ .post-actions {
          border-top: 1px solid transparentize($card-item-custom-text, 0.8);
        }

        .post-author {
          padding-top: 16px;
        }
      }
    }
  }

  &.fanwall-comment-l1 {
    .item-comment {
      .comment-author {
        &.item-avatar {
          padding-top: 5px;
          padding-left: 50px;
          min-height: 50px;
        }

        h2 {
          font-weight: bold;
          font-size: 13px;
        }

        p {
          &.comment-date {
            font-size: 11px;
            line-height: 11px;
          }

          &.comment-text {
            margin-top: 10px;
            white-space: initial;

            * {
              white-space: initial;
            }
          }
        }
      }

      &.card {
        margin-bottom: 0;
        margin-top: 12px;

        .comment-author {
          &.item-avatar {
            padding-top: 15px;
            padding-left: 50px;
            padding-bottom: 10px;
            min-height: 50px;
          }
        }
      }
    }
  }
}