<ion-list ng-if="!isLoading && collection.length > 0">
    <ion-item ng-repeat="item in collection track by item.id"
              ng-class="{'card' : cardDesign}"
              class="item-custom">
        <div class="item-avatar post-author">
            <img ng-src="{{ authorImagePath(item.author.image) }}" />
            <h2>
                {{ authorName(item.author) }}
                <i class="icon ion-flag pull-right"
                   ng-click="flagPost(item)"></i>
                <i class="icon ion-pin pull-right balanced balanced-custom"
                   ng-if="item.sticky"></i>
            </h2>
            <p>{{ publicationDate(item) }}</p>
        </div>
        <div class="post-body">
            <h2 ng-if="item.title.length > 0">{{ item.title }}</h2>
            <p ng-if="item.subtitle.length > 0">{{ item.subtitle }}</p>
            <p ng-if="item.text.length > 0"
               ng-bind-html="item.text | trusted_html"></p>
        </div>
        <div class="post-image"
             ng-if="item.image.length > 0">
            <img class="full-image"
                 ng-src="{{ imagePath(item.image) }}" />
        </div>
        <div class="post-likes"
             ng-if="item.likeCount > 0 || item.commentCount > 0">
            <div class="row">
                <div class="col-50 text-left">
                    <span ng-if="item.likeCount == 1">{{ item.likeCount }} {{ ::"like" | translate:"fanwall" }}</span>
                    <span ng-if="item.likeCount > 1">{{ item.likeCount }} {{ ::"likes" | translate:"fanwall" }}</span>
                </div>
                <div class="col-50 text-right">
                    <span ng-if="item.commentCount == 1">{{ item.commentCount }} {{ ::"comment" | translate:"fanwall" }}</span>
                    <span ng-if="item.commentCount > 1">{{ item.commentCount }} {{ ::"comments" | translate:"fanwall" }}</span>
                </div>
            </div>
        </div>
        <div class="post-actions">
            <div class="row">
                <div class="col-50 text-center"
                     ng-click="toggleLike(item)">
                    <span ng-if="item.iLiked"
                          class="positive positive-custom">
                        <i class="icon ion-sb-like-filled post-action-icon"></i> {{ ::"Like" | translate:"fanwall" }}
                    </span>
                    <span ng-if="!item.iLiked">
                        <i class="icon ion-sb-like post-action-icon"></i> {{ ::"Like" | translate:"fanwall" }}
                    </span>
                </div>
                <div class="col-50 text-center"
                     ng-click="commentModal(item)">
                    <i class="icon ion-sb-comment post-action-icon"></i> {{ ::"Comment" | translate:"fanwall" }}
                </div>
            </div>
        </div>
    </ion-item>
</ion-list>

<ion-list ng-class="{'card' : cardDesign}"
          ng-if="!isLoading && !collection.length">
    <ion-item class="item-custom text-center">
        {{ ::"No post found" | translate:"fanwall" }}
    </ion-item>
</ion-list>

<ion-infinite-scroll ng-if="hasMore"
                     on-infinite="loadMore()"
                     immediate-check="false"
                     distance="10%"
                     class="spinner-custom">
</ion-infinite-scroll>