<ion-modal-view sb-page-background
                class="module-job layout modal slide-top job-view job-contact">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="closeContactModal();">
                <i class="icon ion-sb-close-modal"></i>
            </button>
        </div>
        <h1 class="title">{{ "Contact" | translate:"job" }}</h1>
    </ion-header-bar>

    <ion-content ng-class="{'has-footer': !cardDesign}">

        <div class="list job-contact"
             ng-class="{'card' : cardDesign}">

            <div class="item item-divider item-divider-custom">
                {{ "Identity" | translate:"job" }}
            </div>

            <label class="item item-input item-custom">
                <i class="icon ion-person icon-form"></i>
                <input type="text"
                       placeholder="{{ 'Full name' | translate:'job' }} *"
                       ng-model="form.fullname" />
            </label>

            <label class="item item-input item-custom">
                <i class="icon ion-email icon-form"></i>
                <input type="text"
                       placeholder="{{ 'Email' | translate:'job' }} *"
                       ng-model="form.email" />
            </label>

            <label class="item item-input item-custom">
                <i class="icon ion-ios-telephone icon-form"></i>
                <input type="text"
                       placeholder="{{ 'Phone' | translate:'job' }}"
                       ng-model="form.phone" />
            </label>

            <label class="item item-input item-custom">
                <i class="icon ion-ios-location icon-form"></i>
                <input type="text"
                       placeholder="{{ 'Address' | translate:'job' }}"
                       ng-model="form.address" />
            </label>

        </div>

        <div class="list job-contact"
             ng-class="{'card' : cardDesign}">

            <div class="item item-divider item-divider-custom">
                {{ "Message" | translate:"job" }}
            </div>

            <label class="item item-input item-custom">
                <textarea placeholder="{{ 'Message' | translate:'job' }}"
                          ng-model="form.message"></textarea>
            </label>
        </div>

        <div class="padding"
             ng-if="cardDesign">
            <button class="button button-assertive button-assertive-custom button-block"
                    ng-click="submitContact();">
                {{ "Send contact request" | translate:"job" }}&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="icon ion-ios-paperplane"></i>
            </button>
        </div>

    </ion-content>

    <button class="search-button button button-assertive button-assertive-custom button-full"
            ng-if="!cardDesign"
            ng-click="submitContact();">
        {{ "Send contact request" | translate:"job" }}&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="icon ion-ios-paperplane"></i>
    </button>

</ion-modal-view>