<ion-item ng-class="{'card' : getCardDesign()}"
          class="item-custom">
    <div class="item-avatar post-author">
        <img ng-src="{{ authorImagePath() }}" />
        <h2>
            {{ authorName() }}
            <i class="icon ion-more pull-right"
               ng-click="openActions($event)"></i>
            <i class="icon ion-pin icon-pin pull-right balanced balanced-custom"
               ng-if="post.sticky"></i>
        </h2>
        <p class="post-date">
            {{ publicationDate() }}
            <span ng-if="post.showDistance"> - {{ post.distance }} {{ post.distanceUnit }} ({{ post.locationShort }})</span>
        </p>
    </div>
    <div class="post-body">
        <h2 ng-if="post.title.length > 0">{{ post.title }}</h2>
        <p ng-if="post.subtitle.length > 0">{{ post.subtitle }}</p>
        <p ng-if="post.text.length > 0"
           sb-html="post.text"></p>
    </div>

    <!-- Single image -->
    <div class="post-image"
         ng-if="post.image.length > 0 && post.images.length == 1">
        <a data-fslightbox="{{ 'post-image-id-' + post.id }}"
           class="fanwall-image-bg"
           style="background-image: url('{{ imagePath() }}');"
           href="{{ imagePath() }}">
        </a>
    </div>

    <!-- 2+ Images, display only two or three max, other are visible in the lightbox -->
    <div class="post-images"
         ng-if="post.images.length > 1">
        <div class="row fanwall-row">
            <div class="col-50">
                <div class="post-image fanwall-bg-1"
                     ng-class="{'fanwall-bg-card' : getCardDesign()}">
                    <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + 0 }}"
                       class="fanwall-image-bg fanwall-image-bg-1"
                       style="background-image: url('{{ imagePath(post.images[0]) }}');"
                       href="{{ imagePath(post.images[0]) }}">
                    </a>
                </div>
            </div>
            <div class="col-50">
                <div class="post-image fanwall-bg-2"
                     ng-class="{'fanwall-bg-card' : getCardDesign()}">
                    <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + 1 }}"
                       class="fanwall-image-bg fanwall-image-bg-2"
                       style="background-image: url('{{ imagePath(post.images[1]) }}');"
                       href="{{ imagePath(post.images[1]) }}">
                    </a>
                </div>
            </div>
        </div>

        <div class="post-image fanwall-bg-3"
             ng-class="{'fanwall-bg-card' : getCardDesign()}"
             ng-if="post.images.length > 2">
            <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + ($index + 2) }}"
               class="fanwall-image-bg fanwall-image-bg-3"
               style="background-image: url('{{ imagePath(post.images[2]) }}');"
               href="{{ imagePath(post.images[2]) }}">
            </a>
        </div>

        <div class="post-image fanwall-bg-n"
             ng-class="{'fanwall-bg-card' : getCardDesign()}"
             ng-if="post.images.length > 3"
             ng-repeat="image in post.images.slice(3) track by $index">
            <a data-fslightbox="{{ 'post-image-id-' + post.id + '-' + ($index + 3) }}"
               href="{{ imagePath(image) }}">
            </a>
        </div>
    </div>

    <div class="post-likes"
         ng-click="commentModal()"
         ng-if="showLikeOrComment()">
        <div class="row">
            <div class="text-left"
                 ng-class="{
                    'col-50': userComment(),
                    'col-100': !userComment()
                 }"
                 ng-if="userLike()">
                <span ng-if="post.likeCount == 1">{{ post.likeCount }} {{ ::'like' | translate:'fanwall' }}</span>
                <span ng-if="post.likeCount > 1">{{ post.likeCount }} {{ ::'likes' | translate:'fanwall' }}</span>
            </div>
            <div class="col-50 text-right"
                 ng-class="{
                    'col-50': userLike(),
                    'col-100': !userLike()
                 }"
                 ng-if="userComment()">
                <span ng-if="post.commentCount == 1">{{ post.commentCount }} {{ ::'comment' | translate:'fanwall' }}</span>
                <span ng-if="post.commentCount > 1">{{ post.commentCount }} {{ ::'comments' | translate:'fanwall' }}</span>
            </div>
        </div>
    </div>
    <div class="post-actions"
         ng-if="canLikeOrComment()">
        <div class="row">
            <div class="text-center"
                 ng-class="{
                    'col-50': userComment(),
                    'col-100': !userComment()
                 }"
                 ng-if="userLike()"
                 ng-click="toggleLike()">
                <span ng-if="post.iLiked"
                      class="positive positive-custom">
                    <i class="icon ion-sb-like-filled post-action-icon"></i> {{ ::'Like' | translate:'fanwall' }}
                </span>
                <span ng-if="!post.iLiked">
                    <i class="icon ion-sb-like post-action-icon"></i> {{ ::'Like' | translate:'fanwall' }}
                </span>
            </div>
            <div class="text-center"
                 ng-class="{
                    'col-50': userLike(),
                    'col-100': !userLike()
                 }"
                 ng-if="userComment()"
                 ng-click="commentModal()">
                <i class="icon ion-sb-comment post-action-icon"></i> {{ ::'Comment' | translate:'fanwall' }}
            </div>
        </div>
    </div>
</ion-item>