<ion-modal-view sb-page-background
                ng-controller="PaymentModalController"
                class="payment-method payment-method-modal">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="closeModal()">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{ ::options.title | translate:"payment_method" }}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list list-item">

            <div class="loader"
                 ng-show="isLoading">
                <ion-spinner class="spinner-custom"></ion-spinner>
            </div>

            <div ng-if="!isLoading"
                 ng-repeat="paymentGateway in paymentGateways">
                <div ng-if="methodIsAllowed(paymentGateway.paymentMethods)">
                    <div ng-include="'' + paymentGateway.templateUrl + ''"></div>
                    <div style="margin-bottom: 20px;"></div>
                </div>
            </div>

        </div>
    </ion-content>

</ion-modal-view>
