<ion-item ng-class="{'card': getCardDesign()}"
          class="item-custom item-comment">
    <div class="item-avatar comment-author">
        <img ng-src="{{ authorImagePath(comment.author.image) }}" />
        <h2>
            {{ authorName(comment.author) }}
            <i class="icon ion-flag pull-right"
               ng-click="flagComment(comment)"></i>
        </h2>
        <p class="comment-date">{{ publicationDate(comment) }}</p>
        <p class="comment-text"
           ng-if="comment.text.length > 0"
           ng-bind-html="comment.text | trusted_html"></p>
        <p class="comment-image"
           ng-if="comment.image.length > 0">
            <a data-fslightbox="comments-gallery"
               href="{{ imagePath(comment.image) }}">
                <img ng-src="{{ imagePath(comment.image) }}" />
            </a>
        </p>
    </div>
</ion-item>