<ion-view sb-page-background
          cache-view="false"
          class="mcommerce-view mcommerce-sales-stripe">
    <ion-nav-title>{{ page_title }}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button ng-click="right_button.action()"
                class="button button-clear header-item"
                ng-if="right_button">
            <span class="back-text">
                <span class="default-title">{{ right_button.label }}</span>
            </span>
            <i class="icon"
               ng-class="right_button.icon"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list mcommerce-stripe"
             ng-show="!is_loading">
            <div ng-show="!payment.use_stored_card">
                <label class="item item-custom item-text-wrap">
                    <p>
                        <i class="ion-ios-information-outline"></i>
                        {{ ::"Please fill in your card information to process Credit card payment:" | translate }}
                    </p>
                </label>
                <form>
                    <div class="payment-stripe-form">
                        <div id="mcommerce-card-element"
                             class="item item-custom">
                        </div>
                        <div id="mcommerce-card-errors-parent"
                             class="item item-custom ng-hide">
                            <span style="font-size: .9em; white-space: normal;"
                                  id="mcommerce-card-errors"
                                  class="assertive assertive-custom"></span>
                        </div>
                        <button ng-click="validateCard()"
                                id="mcommerce-save-element"
                                class="button button-full button-positive button-positive-custom">
                            {{ ::"Validate" | translate }}
                        </button>
                    </div>
                    <ion-list>
                        <ion-checkbox ng-if="!guest_mode"
                                      ng-change="debug"
                                      class="radio-custom"
                                      ng-model="payment.save_card" >
                            {{ ::"Save my card for future payments" | translate }}
                        </ion-checkbox>
                    </ion-list>
                </form>
            </div>
            <div ng-show="payment.use_stored_card">
                <label class="item item-custom item-text-wrap">
                    <p>
                        <i class="ion-ios-information-outline"></i> {{ ::"Stored card" | translate }}
                    </p>
                </label>
                <label class="item item-input item-custom">
                    <input type="text"
                           ng-value="'XXXX XXXX XXXX '+card.last4"
                           readonly />
                </label>
                <div class="row">
                    <label class="item item-input item-custom">
                        <input value="***"
                               type="text"
                               readonly />
                    </label>
                    <label class="item item-input item-custom col-25">
                        <input type="text"
                               ng-value="card.exp_month"
                               readonly />
                    </label>
                    <label class="item item-input item-custom col-25">
                        <input type="text"
                               ng-value="card.exp_year"
                               readonly />
                    </label>
                </div>
                <button type="button"
                        class="button button-block button-custom activated"
                        ng-click="deleteVault()">{{ ::"Remove card" | translate }}</button>
            </div>
        </div>
    </ion-content>
</ion-view>