.push2-module {

}

.os-rates {
    min-width: 100px;
}

.os-rates .label.label-success {
    display: inline-block !important;
    text-align: center;
    border-radius: 10px;
}

.os-rates .label.label-danger {
    display: inline-block !important;
    margin-left: -5px;
    border-radius: 10px;
}