<ion-modal-view sb-page-background
                class="module-fanwall fanwall-list fanwall-list-l1">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="close()">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{ ::'Post edit history' | translate:'fanwall' }}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="loader"
             ng-show="!modalReady">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <ion-list ng-if="modalReady"
                  class="show-post">
            <fanwall-post-history-item repeat-done="listDidRender()"
                                       id="{{ item.date }}"
                                       ng-if="willPresentHistory(post, item)"
                                       ng-repeat="item in post.history track by item.date"></fanwall-post-history-item>
        </ion-list>
    </ion-content>

</ion-modal-view>
