/** Modern theme for Backoffice */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i');

* {
    font-family: 'Lato', sans-serif;
}

:root {
    --base-light-grey: #f2fbff;
    --base-grey: #f0fbfd;
    --base-bluey: #0099c7;
    --base-dark-grey: #9bbabe;
    --base-shadow: #004a60;
}

body {
    background-color: var(--base-grey);
}

*,
button,
a,
input,
select,
textarea {
    border-radius: 5px !important;
}

.top img#logo {
    height: 35px;
}

div.title[data-uri="/backoffice/index/template"] h1 {
    margin-left: 15px;
}

.alert {
    border-radius: 5px !important;
}

.alert-info {
    background-color: #cff6fd;
    color: #146a80;
    border: 2px solid #5fc0da !important;
}

.alert-success {
    background-color: #ceefbc;
    color: #114f01;
    border: 2px solid #4bb72c !important;
}

.alert-warning {
    background-color: #faecb9;
    color: #6e5100;
    border: 2px solid #d0a713 !important;
}

.alert-danger {
    background-color: #f6c1c1;
    color: #750413;
    border: 2px solid #d32439 !important;
}

.loader.content_loader {
    top: 47px;
}

.sweet-alert h2 {
    background-color: #ceefbc;
    color: #114f01;
    border: 2px solid #4bb72c !important;
    text-align: center;
}

.login-form .wrapper .content {
    background-color: #ffffff;
    padding-top: 40px;
}

.top,
.top .content,
.backoffice_menu ul.l1 li ul.l2,
.backoffice_menu ul.l1 li ul.l2 li ul.l3 {
    color: #404040;
    background-color: #ffffff;
    border-bottom: 2px solid #ffffff !important;
}

.backoffice_menu ul.l1 li a:hover,
.backoffice_menu ul.l1 li ul.l2 li a:hover,
.backoffice_menu ul.l1 li ul.l2 li ul.l3 li a:hover {
    background-color: #ffffff !important;
    color: #404040;
    border-bottom: 2px solid var(--base-bluey) !important;
    border-radius: 0 !important;
}

.backoffice_menu ul.l1 li ul.l2 li a,
.backoffice_menu ul.l1 li ul.l2 li ul.l3 li a {
    color: #404040;
    border: 0 !important;
    border-bottom: 2px solid #ffffff !important;
}

.top {
    height: 32px;
}

.top .content {
    height: 32px;
}

.backoffice_menu ul.l1 {
    height: 32px;
}

.backoffice_menu ul.l1 li a {
    padding: 5px 8px 5px 8px;
    font-size: 14px;
    color: #404040;
    border-bottom: 2px solid #ffffff !important;
}

::-webkit-search-decoration {
    display: none;
}

.message-badge {
    right: 0;
    top: 0;
    padding: 1px 6px 3px 6px;
    background-color: #3dcc6d;
    color: #ffffff;
}

.subtitle h4 {
    border-bottom: 2px solid #808080;
    margin-bottom: 15px;
    padding: 6px;
}

.top div.message p {
    background-color: #ffffff;
    border-bottom: 2px solid #3dcc6d;
    color: #404040;
    box-shadow: 0 0 2px lightgreen;
}

input, select, textarea {
    border: 1px solid var(--base-bluey) !important;
    background-color: var(--base-light-grey) !important;
    box-shadow: none !important;
}

.btn-primary {
    font-size: 13px;
    padding: 2px 5px;
    background-color: #def6e8;
    color: #05441e;
    border: 1px solid #3dcc6d;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background-color: #def6e8;
    color: #05441e;
    border: 1px solid #3dcc6d;
}

.wrapper.container-fluid {
    width: initial !important;
    background-color: var(--base-grey);
}

.wrapper .content {
    background-color: var(--base-grey);
}

.wrapper .content div.area .title {
    background-color: var(--base-light-grey);
    border-bottom: 2px solid var(--base-bluey);
    color: #404040;
    margin-bottom: 0;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.wrapper .content div.area .title.critical {
    background-color: #e42f2f;
    border-bottom: 2px solid #a51b1b;
    color: #ffffff;
}

.wrapper .content div.area {
    margin: 0 0 15px 0;
    padding: 0;
    border-radius: 5px !important;
    border: 1px solid var(--base-dark-grey);
}

.wrapper .content div.area .title h2 {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.wrapper .content div.area .content {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border: 0;
}

#wrapper .wrapper > .title {
    border-bottom: 0 !important;
}

.alert {
    padding: 8px;
    line-height: 20px;
}

.backoffice_menu ul.l1 li.has_submenu:hover ul.l2 {
    top: 32px;
}

.title_content h1 i {
    display: none;
}

.title_content h1 {
    font-size: 14px;
    margin: 0;
}

.wrapper .title {
    background-color: var(--base-grey);
    min-height: initial;
}

.wrapper .title div.title_content {
    background-color: var(--base-grey);
    padding: 15px 0;
}

input[type="file"] {
    background-color: transparent !important  ;
}

input[type="checkbox"] {
    margin-right: 10px;
    visibility: hidden;
}

/** Mozilla really don't want to do pseudo css on inputs */
@-moz-document url-prefix() {
    input[type="checkbox"] {
        visibility: visible;
    }
}

input[type="checkbox"]:before {
    content: " ";
    display: block;
    visibility: visible;
    width: 16px;
    height: 16px;
    background-color: #3dcc6d;
    position: relative;
    opacity: 1;
    z-index: 9;
    top: -3px;
}

input[type="checkbox"]:checked:after {
    content: " ";
    display: block;
    visibility: visible;
    width: 10px;
    height: 5px;
    transform: rotate(-45deg);
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: white;
    z-index: 10;
    top: -15px;
    position: relative;
    left: 3px;
}

img#logo[src*="/images/header/logo.png"] {
    filter: invert(100);
}

input[type="radio"] {
    margin-right: 10px;
    visibility: hidden;
}

input[type="radio"]:before {
    content: " ";
    display: block;
    visibility: visible;
    width: 16px;
    height: 16px;
    background-color: #3dcc6d;
    position: relative;
    opacity: 1;
    z-index: 9;
    top: -3px;
    border-radius: 10px !important;
}

input[type="radio"]:checked:after {
    content: " ";
    display: block;
    visibility: visible;
    width: 8px;
    height: 8px;
    background: white;
    z-index: 10;
    top: -15px;
    position: relative;
    left: 4px;
    border-radius: 10px !important;
}


.wrapper .title button {
    position: absolute;
    top: -10px;
    right: 6px;
    z-index: 100;
}

.overview-grid {
    background: #e6e6e6 !important;
}

.overview-grid-toggler {
    background: #e6e6e6 !important;
}

h4.section-title {
    background: #3dcc6d;
    padding: 10px 15px;
    margin: 0;
    border-left: 2px solid #3dcc6d;
}

div.section-content {
    padding: 15px;
    margin: 0;
    border-left: 2px solid #3dcc6d;
    background-color: #f0f0f0;
}
